.layout {
  width: 100%;
  height: 100vh;
  position: relative;
  .navbar {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    .logo {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: bolder;
    }
    .nav {
      width: 100%;
      display: flex;
      justify-content: end;
      padding-right: 10px;
      a {
        text-decoration: none;
        color: white;
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #333;
        &:hover {
          background-color: #333333e6;
        }
      }
    }
  }
  .pageWrapper {
    width: 100%;
    margin-right: auto;
    display: flex;
    // column-gap: 15px;
    height: calc(100vh - 80px);
    // border: 1px solid black;
    .verticalMenu {
      width: 170px;
      display: flex;
      flex-direction: column;
      background-color: #333;
      position: relative;
      .showVertMenu {
        display: none;
      }
      .hideVertMenu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 10;
      }
      .MenuItem {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid white;
        color: white;
        padding-left: 5px;
        cursor: pointer;
        p {
          padding-left: 5px;
        }
      }
      .MenuIcon {
        display: flex;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid white;
        color: white;
        padding-left: 5px;
        cursor: pointer;
        justify-content: center;
      }
      .arrowUpDawnHover {
        .arrowUpDawn {
          opacity: 0;
        }
        &:hover {
          .arrowUpDawn {
            opacity: 1;
          }
        }
      }
      .items {
        max-height: 0;
        overflow: hidden;
      }
      .collapse {
        max-height: 1000px;
        transition: max-height 1s ease-in-out;
      }
      .close {
        transition: max-height 400ms ease;
      }
    }
    .resizePage {
      z-index: 10;
      width: 6px;
      margin-right: 5px;
      background-color: #333;
      cursor: col-resize;
      position: relative;
      &:hover {
        background-color: rgb(38, 38, 38);
      }
      // .line{
      //   position: absolute;
      //   top :0;
      //   left: 50%;
      //   content: '';
      //   width: 1px;
      //   height: 100%;
      //   background-color: white;
      // }
    }
    .pageContent {
      // width: 85%;
      flex: 1;
    }
  }
}
